@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { border: 1px solid #ccc; }
    
    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:right;
        
    }

    .table td:before { 
        content: attr(data-title); 
        color: black;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    
    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    .btn{
        font-size: 13px;
        font-weight: 300;
        line-height: 1.1;
        padding: 3px 4px;
        margin: 4px
        }

    #btn_row{
        flex-direction: column;
    }
    #togglePassword {
        cursor: pointer;
        position: relative;
        top: -43px;
        left: 334px !important;
        z-index: 100;
    } 

    #toggleNewPass {
        cursor: pointer;
        position: relative;
        top: -26px;
        left: 342px  !important;
    }

    #toggleConfirmPass {
        cursor: pointer;
        position: relative;
        top: -26px;
        left: 344px;
    }

    #toggleOldPass {
        cursor: pointer;
        position: relative;
        top: -26px;
        left: 342px;
    }
}